/* Styling for min hjemmeside */

/* Header */
h1 { 
    text-align: left;
    background-color: lightskyblue;
    padding: 30px;
    margin: 0;
}


/* Body */
body {
    background-image: url("../skole/Bilder/white-gradient-background.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    margin: 0;
}

/* Nav horizontal */
ul{
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    padding-left: 280px;
    margin: 0;
    overflow: hidden;
}

li a {
    float: left;
    display: block;
    text-align: center;
    padding-left: 100px;
    text-decoration: none;
    color: white;
}

/* Main */
main{
    background-color: rgb(213, 184, 224);
    background-position: center;
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 800px;
    line-height: 50px;
}

